#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Categories=Utility;TextEditor;
Encoding=UTF-8
Name=Vi IMproved
GenericName=Text Editor
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=gvim -f %f
Icon=/usr/share/icons/hicolor/48x48/apps/gvim.png
Type=Application
Terminal=false
