#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Name=GNOME Do
Type=Application
Exec=gnome-do
Terminal=false
Icon=gnome-do
OnlyShowIn=GNOME;
Comment=Do things as quickly as possible (but no quicker) with your files, bookmarks, applications, music, contacts, and more!
Categories=Utility;X-SuSE-DesktopUtility;

